body{
	margin:0px;
	padding: 0px;
	background-color:#52616B;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: #161515;
    margin-bottom: 30px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C9D6DF;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #161515;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#5f7470;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 270px;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 20%;
	float: left;
}

.col-div-3{
	width: 10%;
	float: left;
}
.box{

  border-radius: 8px;
  width: 85%;
	height: 100px;
	background-color: #161515;
	margin-left: 10px;
	padding:10px;


}
.box p{
	 font-size: 35px;
    color: black;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 2px;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #050504;
 

}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #000000;
    padding-right: 10px;
}
.col-div-8{
  color: black;
	width: 60%;
	float: left;
}
.col-div-4{
  color: black;
	width: 30%;
	float: left;
}

.box-8, .box-4{
	width: 95%;
  color: black;
	background-color: #C9D6DF;
	height: 330px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 20px;
}
table {
  font-family: arial, sans-serif;
  color: black;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: black;
  border-bottom: 1px solid #81818140;
}
.container {
  max-width: 150%;
  margin: left;
  height: 150px;
  padding-top: 60px;


}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.sidebar {
margin: 0;
padding: 0;
width: 250px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

/* Sidebar links */
.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
background-color:#0d6efd;
color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
margin-left: 0;
padding-left: 50px;
padding-top: 50px;
height: 1000px;
}