body{
	margin:0px;
	padding: 0px;
	background-color:#52616B;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: #161515;
    margin-bottom: 30px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C9D6DF;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #161515;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#5f7470;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}
.head{
	padding:20px;
}
.col-div-6{
  color: black;
	width: 50%;
	float: left;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: w#161515;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 30%;
	float: left;
}
.box{

  border-radius: 8px;
  width: 85%;
	height: 100px;
	background-color: #161515;
	margin-left: 10px;
	padding:10px;


}
.box p{
	 font-size: 35px;
    color: black;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 2px;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #050504;
 

}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #000000;
    padding-right: 10px;
}
.col-div-8{
  color: black;
	width: 70%;
	float: left;
}
.col-div-4{
  color: black;
	width: 30%;
	float: left;
}
.content-box{
  color: black;
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}
.content-box p span{
	float: right;
    background-color: #C9D6DF;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
  color: black;
	background-color: #C9D6DF;
	height: 330px;
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 20px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
  
}
td, th {
  text-align: right;
  padding: 50px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}
.table{
  position: top;
  color: black;
}

.content-table {
  border-collapse: collapse;
  height: auto;
  margin: 110px 20px;
  font-size: 1.0em;
  min-width: 40px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #C9D6DF;
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td form {
  padding: 20px 18px;
  color: black;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  color: black;
}


.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #C9D6DF;
  color: black;
}





